.container-blogs {
    display:flex;
    gap:40px;
    flex-wrap: wrap;

}
.card-blog {
display: flex;
  flex-direction: column;
  width: 300px;
  overflow: hidden;
  /* box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1); */
  border-radius: 6px;
  background:#fffaf4;


}

.card__image-blog {
    width: 100%;
}

.icons-blog {
    display:flex;
    flex-direction: row;
    gap:20px;
}

.icons__clock,.icons__comment {
    display:flex;
    gap:5px;
}



.fa-comment,.fa-regular {
    display:flex;
    align-items: center;

}

.card__footer-blog {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}






