/* 
!
 * Reset
 * makes browsers render all elements more consistently and in line with modern standards.
 * @tutorial https://web.dev/learn/css/layout/
 * @example https://fed-vocational-astro-course.vercel.app/en/html-css/module-3/css-grids
 */

 :root {
  --second-font:'Lato', sans-serif;
  --main-font: 'Playfair Display', serif;
  line-height: 1.5;
  font-weight: 300;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: #FFFFFF;
  text-decoration: inherit;
}



